Java.gitignore
.idea/vcs.xml

*.bin
*.lock
*.class
*.tab
*.at
/build
*.len
*.lock
*.len
*.keystream
*.at
*.bin
*.tab
*.len
*.tab

.gradle/6.3/executionHistory/

.gradle/6.3/fileHashes/

*.tab_i

*.values

*.s
